﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="header" class="">
        <!-- header banner (where the logo and text goes) -->
        <div class="headerBanner rtAlign" style="left: 0px; top: 0px;">
            <img src="~/Content/logo.png" border="0" class="headerLogo" alt="Paramount_LOGO" />
            <span class="headerMessage text"><asp:Label ID="lblTitle" runat="server" Text="Paramount Health Care"></asp:Label></span>
            <div class="headerBtm">
                <table style="width:100%;">
                    <tr>
                        <td style="text-align: left; width: 500px;font-weight: bold;font-size: small;" class="auto-style1">
                            <asp:Label ID="lblUserName" runat="server" Text="" Style="width: 300px;"></asp:Label>
                        </td>
                        <td style="text-align: right; padding-left:initial;font-size: x-small;">
                            <asp:Label ID="lblEnvMessage" runat="server" Text=""></asp:Label>
                            &nbsp;
                            <asp:Label ID="lblVersion" runat="server" Text=""></asp:Label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer class="border-top footer text-muted">
                <div class="container">
                    <span class="smallText">&copy;2020 Paramount Health Care </span>
                </div>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/custom")
        @RenderSection("scripts", required: false)
</body>
</html>
