﻿ <body onload="runningStatus()">
<div id="spacer" style="height:100px; width:900px"></div>
<div id="main" name="main" runat="server" style="height:125px; width:900px;">
    <label for="MemberNbr">Please enter a member number</label>
    <input type="text" asp-for="MemberNbr" id="MemberNbr" maxlength="11" Style="width: 125px; height: 25px;" onkeyup="mbrNumLength()" />
    <input type="button" runat="server" onClick="btnSubmit();" id="btnSubmit" value="Submit" name="btnSubmit" style="visibility:hidden;" />
</div>
<div id="divDisplay" name="divDisplay" asp-for="divDisplay" runat="server" class="hidden" style="visibility:hidden; overflow: auto; height: 100px; width: 900px;">
    <label for="divDisplay" ID="lblDisplay" name="lblDisplay" runat="server" Style="width: 900px; height: 75px;"></label>
</div>
<div id="divError" name="divError" asp-for="divError" runat="server" class="error" style="visibility:hidden;">
    <label for="divError" id="lblError" name="lblError" runat="server" textmode="MultiLine" style="height: 100px; width: 900px;">Please enter a correct member number</label>
</div>
</body>
