﻿
@{
    ViewBag.Title = "BenSummary Interface";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="spacer" style="height:100px; width:900px"></div>
<div id="main" name="main" runat="server" style="height:125px; width:900px;">
    <label>An email will be sent to the appropriate individuals for your entry. Please click the 'Return to main' button to enter another number.</label>
</div>
<div id="buttonTime" runat="server" style="height:125px; width:900px;">
    <input type="button" onclick="location.href = 'Index';" id="btnReturn" value="Return to main" name="btnReturn" />
</div>

