/* ===== XHTML Tags ===== */


html
{
    /*_font-size: 100% /* IE hack */ /*overflow: hidden;*/
    margin: 0px;
    padding: 0px;
}

.theoverlay {
    left: 691px;
    position: absolute;
    top: 388px;
    width: 295px;
    height: 202px;
    z-index: 999;
}

body
{
    font-size: .75em;
    overflow: inherit;
    margin: inherit;
    padding: inherit;
    background-color: rgb(241,237,200) !important;
    min-width: 768px;
    min-height: 500px;
}

/* Only child divs of 'body' are header and mainBody*/

body > div
{
    /*width: 100%;*/
}

body > div#mainBody > div > table
{
    width: 100%;
    height: 100%;
    cellspacing: 0px;
    cellpadding: 0px;
    border: 0px;
}

th, td
{
    padding: 2px 4px;
}

h1
{
    font-size: 1.5em;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
}

h2
{
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 6px;
    text-align: center;
    width: 100%;
}

h3
{
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    width: 100%;
}

hr
{
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 1px;
    text-align: center;
}

.text
{
    color: rgb(119,120,124);
    font-family: Arial;
}

table
{
    border-collapse: collapse !important;
    margin-bottom: 6px;
}

#header > div
{
    /*position: absolute;*/
    width: 100%;
}

#headerBanner
{
    top: 15%;
    bottom: 20%;
}

#headerBanner img
{
    float: left;
    left: 20px;
}

#headerBanner .headerMessage
{
    float: right;
    right: 5px;
    font-size: 2em;
}

/* STATIC FOOTER STYLES */
#footer
{
    /*position: absolute; 	bottom: 0px; 	height: 20%; 	margin:0 2px; 	min-height: 145px; 	width:auto!important;*/
    margin-top: 0px;
}

#footer p
{
    color: white;
    text-align: center;
    font-family: Arial;
    margin: 0;
}
#footer p.medium
{
    font-size: 1.3em;
}
#footer .smallText
{
    font-size: 0.8em;
}

#footer .prmntLegal
{
    background-color:rgb(41, 178, 49);
    padding: 24px;
}

.floatNW
{
    position: absolute;
    left: 0px;
    top: 0px;
}

.floatNE
{
    position: absolute;
    right: 0px;
    top: 0px;
}

.floatSW
{
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.floatSE
{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.section thead th
{
    empty-cells: show;
    border-collapse: collapse;
    font-size: 1em;
    font-weight: bold;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    text-align: left;
    vertical-align: bottom;
}



.section tbody th
{
    empty-cells: show;
    border-collapse: collapse;
    font-size: 1em;
    font-weight: bold;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    text-align: left;
}


.section
{
    width: 100%;
    border: none;
    text-align: left;
}
.section
{
    border-collapse: collapse;
    empty-cells: show;
    font-size: 1em;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    padding-top: 4px;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    width: 220px;
}

.section
{
    font-size: 1em;
    vertical-align: top;
    text-align: left;
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
}

.sectiontitle
{
    width: 100%;
    margin-top: 10px;
    border: none;
    border-bottom: thin solid rgb(225,225,225);
}

.sectiontitle th
{
    text-align: left;
    font-size: 1.2em;
    color: rgb(47,177,53);
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.sectiontitle td
{
    text-align: right;
    padding-right: 1em;
    color: #000000;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: middle;
}


/* ===== Text ===== */

a, span, body, h1, h2, td, th, label, .copy
{
    font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
}

.copy
{
    text-align: center;
    font-size: .8em;
    color: #666666;
}

.welcome
{
    font-size: 1em;
    text-align: right;
    color: #003368;
    margin-top: 8px;
    margin-bottom: 2px;
}


/* ===== Link ===== */

a
{
    font-size: 1em;
    color: rgb(47,177,53) ;
    text-decoration: none !important;
}

a:hover
{
    color: rgb(0,153,62) !important;
    text-decoration: underline !important;
}



.copy a:link
{
    color: #666666;
    text-decoration: none;
}
.copy a:active
{
    color: #666666;
    text-decoration: none;
}
.copy a:visited
{
    color: #666666;
    text-decoration: none;
}
.copy a:hover
{
    color: #666666;
    text-decoration: underline;
}

.sectiontitle a:link
{
    color: #000000;
    font-weight: normal;
    font-size: 1em;
    text-decoration: none;
}

.sectiontitle a:active
{
    color: #000000;
    font-weight: normal;
    font-size: 1em;
    text-decoration: none;
}

.sectiontitle a:visited
{
    color: #000000;
    font-weight: normal;
    font-size: 1em;
    text-decoration: none;
}

.sectiontitle a:hover
{
    color: #000000;
    font-weight: normal;
    font-size: 1em;
    text-decoration: underline;
}




ul li
{
    list-style: square;
    color: rgb(192,192,192);
}

ul li a:link
{
    color: #000000;
    font-weight: normal;
    font-size: 1em;
    text-decoration: none;
}

ul li a:active
{
    color: #000000;
    font-weight: normal;
    font-size: 1em;
    text-decoration: none;
}

ul li a:visited
{
    color: #000000;
    font-weight: normal;
    font-size: 1em;
    text-decoration: none;
}

ul li a:hover
{
    color: #000000;
    font-weight: normal;
    font-size: 1em;
    text-decoration: underline;
}



.rowspan
{
    border-top: dashed 1px;
    border-bottom: dashed 1px;
}

/* Navigation */
#menu
{
    float: left;
    width: 141px;
    padding: 0;
    font-size: 1em;
    font-family: 'Trebuchet MS' , 'Lucida Grande' ,Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
    background-color: rgb(219,219,219);
    border-top-right-radius: 1em !important;
    border-bottom-right-radius: 1em !important;
    -webkit-border-top-right-radius: 1em !important;
    -webkit-border-bottom-right-radius: 1em !important;
    -moz-border-top-right-radius: 1em !important;
    -moz-border-bottom-right-radius: 1em !important;
}

#menu a
{
    border-bottom: #FFFFFF solid 1px;
}

#menu ul > li > ul > li > ul > li:first-child > a
{
    border-top-right-radius: 0.3em !important;
    -webkit-border-top-right-radius: 0.3em !important;
    -moz-border-top-right-radius: 0.3em !important;
}

#menu ul > li a
{
    border-bottom-right-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    -moz-border-bottom-right-radius: 0 !important;
}

#menu ul > li:last-of-type > a
{
    border: 0 !important;
}

#menu ul li:last-of-type > a:only-child
{
    border: 0 !important;
    border-bottom-right-radius: 1em !important;
    -webkit-border-bottom-right-radius: 1em !important;
    -moz-border-bottom-right-radius: 1em !important;
}

#menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1px;
}

#menu li
{
    display: inline;
    margin: 0;
    padding: 0;
}

#menu li a
{
    display: block;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    margin-bottom: 1px;
    color: rgb(91,92,94) !important;
    text-decoration: none !important;
    background-repeat: no-repeat;
    background-position: right top;
}

#menu li a:hover
{
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
}

#menu li li a
{
    display: block;
    font-weight: normal;
    font-size: .9em;
    padding-top: 3px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    background-color: rgb(192,192,192);
    margin-bottom: 0px !important;
    text-decoration: none;
    background-image: url('/Images/TabBullet1.gif') !important;
    background-repeat: no-repeat;
    background-position: left top;
}

#menu li li a:hover
{
    display: block;
    font-weight: normal;
    font-size: .9em;
    padding-top: 3px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    text-decoration: none;
    width: 123px;
    background-image: url('/Images/TabBullet1.gif') !important;
}

#menu li li li a
{
    display: block;
    font-weight: normal;
    padding-top: 3px;
    padding-right: 2px;
    padding-bottom: 3px;
    padding-left: 18px;
    background-image: url('/Images/TabBullet2.gif') !important;
    background-repeat: no-repeat;
    background-position: left top;
    text-decoration: none;
    width: 123px;
}

#menu li li li a:hover
{
    display: block;
    font-weight: normal;
    padding-top: 3px;
    padding-right: 2px;
    padding-bottom: 3px;
    padding-left: 18px;
    text-decoration: none;
    width: 123px;
    background-image: url('/Images/TabBullet2.gif') !important;
}



input, select, file, password, radio, checkbox
{
    vertical-align: middle;
}

input[type=checkbox] {
    height: 12px;
    width: 12px;
    transition: .2s;
    margin-right: 5px;
}

input[type=checkbox]:checked
{
    display: inline-block;
    height: 16px;
    width: 16px;
}

input[type=submit]
{
    background: rgb(41, 178, 49);
    padding: 4px 8px;
    border: 0px solid black;
    border-radius: 3px;
    color:white;
    box-shadow: 2px 2px 0 0 rgba(0,0,0,0.14);
    -webkit-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.14);
    -moz-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.14);
    font-weight: bolder;
    cursor:pointer;
    transition: .2s;
    position:relative;
    top: 0px;
    left: 0px;
}

input[type=submit]:hover{
    box-shadow: 3px 3px 0 0 rgba(0,0,0,0.14);
    -webkit-box-shadow: 3px 3px 0 0 rgba(0,0,0,0.14);
    -moz-box-shadow: 3px 3px 0 0 rgba(0,0,0,0.14);
    position:relative;
    top: -1px;
    left: -1px;
}

input[type=submit]:active{
    box-shadow: 1px 1px 0 0 rgba(0,0,0,0.14);
    -webkit-box-shadow: 1px 1px 0 0 rgba(0,0,0,0.14);
    -moz-box-shadow: 1px 1px 0 0 rgba(0,0,0,0.14);
    position:relative;
    top: 1px;
    left: 1px;
}

input[type="image"]
{
    transition:.2s;
    border-radius: 5px;
    padding: 2px;
    background: white;
    margin: 5px;
    border: 1px inset rgba(0, 0, 0, 0);
}

input[type="image"]:hover
{
    opacity: 1;
    border: 1px inset rgba(0, 0, 0, 0.14);
}

input[type=password]
{
    box-shadow: 0 0 3px 1px rgb(210,207,184) !important;
    -webkit-box-shadow: 0 0 3px 1px rgb(210,207,184) !important;
    -moz-box-shadow: 0 0 3px 1px rgb(210,207,184) !important;
}

input[type=text],textarea  {
border-radius: 2px;
border: 1px solid rgb(20, 84, 23);
padding: 0 3px;
box-shadow: 2px 2px 0 0 rgb(210,207,184) !important;
-webkit-box-shadow: 2px 2px 0 0 rgb(210,207,184) !important;
-moz-box-shadow: 2px 2px 0 0 rgb(210,207,184) !important;
transition:.2s;
position:relative;
top:0;
}

textarea {
    padding:3px;
    font: 12;
    font: 13.3333px Arial;
}

input[type=text]:focus, textarea:focus {
background: rgb(232, 255, 233);
box-shadow: 4px 4px 0 0 rgb(210,207,184) !important;
-webkit-box-shadow: 4px 4px 0 0 rgb(210,207,184) !important;
-moz-box-shadow: 4px 4px 0 0 rgb(210,207,184) !important;
top:-2px
}

input[type=text]{
height: 20px;
}

.floatingBox{
    background:rgb(227, 239, 228); 
    z-index:10; 
    position: absolute; 
    left:690px; 
    top: 89px; 
    width: 500px;
    border-radius:5px;
    box-shadow: 5px 6px 4px 1px rgba(0,0,0,0.14);
    -webkit-box-shadow: 5px 6px 4px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 5px 6px 4px 1px rgba(0,0,0,0.14);
    padding: 8px;
    border: 1px inset rgba(0,0,0,0.14);
}

.codeGroupHeader {
    font-size: small;
    height: 22px;
    font-weight: bold;
}

.codegroupContainer{
    height: 635px;
    overflow: auto;
    width: 450px;
    margin-bottom: 8px;
}

.codelist{
    white-space:nowrap;
}

.floatingBox2{
    background:rgb(227, 239, 228); 
    z-index:10; 
    position: absolute; 
    left:222px; 
    top: 89px; 
    width: 450px;
    height: 688px;
    border-radius:5px;
    box-shadow: 5px 6px 4px 1px rgba(0,0,0,0.14);
    -webkit-box-shadow: 5px 6px 4px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 5px 6px 4px 1px rgba(0,0,0,0.14);
    padding: 8px;
    border: 1px inset rgba(0,0,0,0.14);
}

.codegroupButtons{
    margin-bottom: 3px;
}

.selectionSets
{
    margin: 5px 0px;
}

.detailContainer
{
    padding: 11px;
    border-radius: 8px;
    background: rgb(227, 239, 228);
}

select
{
    box-shadow: 2px 2px 0 0 rgb(210,207,184) !important;
    -webkit-box-shadow: 2px 2px 0 0 rgb(210,207,184) !important;
    -moz-box-shadow: 2px 2px 0 0 rgb(210,207,184) !important;
    border-radius: 3px;
        padding: 4px 20px 4px 6px;
    border: 1px solid rgb(150,150,150);
    background: url(downarrow.png) no-repeat 100% 50%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;        
    background-color: white;
}

select::-ms-expand {
    display: none;
}  

select:focus {
    outline: none;
}

.TableBorder
{
    border-right: #666666 thin solid;
    border-top: #cccccc thin solid;
    border-left: #cccccc thin solid;
    border-bottom: #666666 thin solid;
}


#header
{
    background: #29b231 url("../Styles/headerTop_left.gif") no-repeat 0 0;
    box-shadow: 0px 2px 2px 1px rgb(210,207,184) !important;
    -webkit-box-shadow: 0px 2px 2px 1px rgb(210,207,184) !important;
    -moz-box-shadow: 0px 2px 2px 1px rgb(210,207,184) !important;
}
#header.innerHdr
{
    min-height: 30px;
    height: auto;
}
#header > div
{
    position: static;
}
.headerBanner
{
    position: relative;
    background: url("../Styles/headerBannerBG.gif") repeat-x 0 0;
}
.innerHdr .headerBanner
{
    min-height: 59px;
}
.rtAlign
{
    text-align: right;
}
.headerMessage
{
    font-size: 2em;
}
.headerBanner .headerLogo
{
    float: left;
    border-radius: 37px;
    left: 8px;
    position: relative;
    top: 8px;
    background: white;
    padding: 4px 22px;
}
.innerHdr .headerBanner .headerLogo
{
    margin-left: 90px;
}
.innerHdr .headerBanner .headerMessage
{
    padding-right: 124px;
}
.headerBanner .headerMessage
{
    display: inline-block;
    position: relative;
    bottom: -27px;
    right: 24px;
    color: white;
    font-size: large;
}

.headerBtm
{
    height: 18px;
    line-height: 18px;
    clear: both;
    float: none;
    padding: 9px 20px;
    position: relative;  
    color: white;  
}
.headerBtm .copy
{
    color: #fff !important;
}
.headerBtm h3
{
    margin: 0;
    padding: 0;
    width: auto;
    color: #fff;
    font-size: 1.2em;
    font-weight: normal;
    float: left;
}
.headerBtm .userWelcome
{
    float: left;
    width: 200px;
}
.headerBtm .floatL, #headerBtm .floatR
{
    width: 122px;
}
.headerBtm .floatR
{
    background: transparent url("../Styles/rtHeaderRT.gif") no-repeat 0 0;
}
.headerBtm .floatL
{
    background: transparent url("../Styles/rtHeaderLt.gif") no-repeat 0 0;
}
/*#sideBar.floatL
{
    width: 150px;
} */
.rtContainer
{
    margin: 18px 12px;
}
.rcWithShadow
{
    width: auto;
    background-color: transparent;
    clear: both;
    float: none;
}
#mainBody.rcWithShadow.loginDiv
{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
#mainBody.rcWithShadow > div
{
    /*border-radius:0!important; 		box-shadow:none!important; 		width:auto!important;*/
}
#mainBody.rcWithShadow .rcWtShTop, #mainBody.rcWithShadow .rcWtShBtm
{
}
#mainBody.rcWithShadow {
   min-height: 100%;
}
.rcWtShBtm
{
    background: transparent url(../Styles/topbg.png) repeat-x 0 0;
}
.rcWtShTop
{
    background: rgb(255, 255, 255);
}
.rcWtShBtm
{
    background-image: url(../Styles/BtmBg.png);
    position: relative;
}
#mainBody.rcWithShadow .rcWtShLt, #mainBody.rcWithShadow .rcWtShLt
{
    margin: 0 !important;

}
.rcWtShLt, .rcWtShRt
{
    height: 100%;
    background: url(../Styles/leftBg.png) repeat-y 0 0;
    /* min-height: 600px; */
}
.rcWtShLt
{
    padding-left: 0px;
}
.rcWtShRt
{
    padding-right: 0px;
    background-color: #fff;
    background-image: url(../Styles/rtBg.png);
    background-position: top right;
    margin: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 1px;
    padding: 1px 10px
}
.errMsg{
    margin: 10px 0;
    font-size: 1.0em;
    color: black;
    font-style: italic; 
}
.rcWtShTop_lt, .rcWtShTop_rt, .rcWtShBtm_lt, .rcWtShBtm_rt
{
    position: absolute;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.rcWtShTop_lt
{
    top: 0;
    left: 0;
    background: url(../Styles/topLeft.png);
}
.rcWtShTop_rt
{
    top: 0;
    right: 0;
    background: url(../Styles/topRt.png);
}
.rcWtShBtm_lt
{
    top: 0;
    left: 0;
    background: url(../Styles/BtmLeft.png);
}
.rcWtShBtm_rt
{
    top: 0;
    right: 0;
    background: url(../Styles/btmRt.png);
}


.mainInnerBdy
{
    margin: 0 100px !important;
    min-width: 400px !important;
}
.mainInnerBdy #mainForm
{
    min-width: 400px !important;
    padding: 10px;
}

.floatR
{
    float: right;
}
.floatL
{
    float: left;
}
.clear
{
    float: none !important;
    clear: both !important;
    line-height: 0 !important;
    font-size: 0 !important;
}
/* AHB-20458 issue fix */
.medium a
{
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    width: 100%;
    color: #fff !important;
    line-height: 10px !important;
}
.medium a:hover
{
    text-decoration: none !important;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    width: 100%;
    color: #fff !important;
}
.grid
{
    margin-top: 10px;
    border-color: #e6e6e6;
    border-style: solid;
    border-width: thin;
    width: 100%;
    border-collapse: collapse;
}

.grid td
{
    /*border: solid 1px #C2D4DA;*/
    border-collapse: collapse;
}
.gridHeader th
{
    background-color: #a8a6a6;
    color: #fff;
    padding: 4px 4px 4px 3px;
    font-size: 10pt;
    font-weight: normal;
}
.gridHeader a:link
{
    color: #666666;
    text-decoration: none;
}
.gridHeader a:active
{
    color: #666666;
    text-decoration: none;
}
.gridHeader a:visited
{
    color: #666666;
    text-decoration: none;
}
.gridHeader a:hover
{
    color: #666666;
    text-decoration: underline;
}
.gridItem td
{
    font-size: 10pt;
    padding: 4px 4px 4px 3px;
    text-align: left;
    font-weight: normal;
}
.gridAltItem td
{
    background-color: #f3f9f9;
}
.preserveSpace
{
    white-space: pre;
    font-family: Andale Mono, Lucida Console;
 
}
.grid
{
    margin-top: 10px;
    border-color: #e6e6e6; 
    border-style: solid;
    border-width: thin;
    border-collapse: collapse;
    width: 95%;
}
rtContainer
.grid td
{
    /*border: solid 1px #C2D4DA;*/
    border-collapse: collapse;
   
}
.gridHeader th
{
       background-color: #7e8083;
       color: #fff;
        padding: 4px 4px 4px 3px;
}
.gridItem td
{
    font-size: 8pt;
    padding: 4px 4px 4px 3px;
    text-align: left;
}
.gridAltItem td
{
 background-color: #f3f9f9;
   font-size: 8pt;
    padding: 4px 4px 4px 3px;
    text-align: left;
}
.gridFooter td
{
   padding: 5px 5px 5px 2px;
}
.toUpper
{
    text-transform:uppercase;
}
.error {
    color: red;
}
.required {
    color: red;
}
.hidden{
    visibility:hidden;
}